In [1]:
# dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# File to Load 
file_to_load1 = "County Grad Rate with Poverty Levels.csv"


# Read Purchasing File and store into Pandas data frame
county_grad_pov = pd.read_csv(file_to_load1)

In [3]:
df_county_grad_pov = pd.DataFrame(county_grad_pov)
df_county_grad_pov

,County Name,Four Years Adjusted Cohort Count,Graduated Count,Graduation Rate,Poverty Rate
0,ATLANTIC,3422,3082,0.900643,14.8
1,BERGEN,10446,9920,0.949646,6.6
2,BURLINGTON,5549,5178,0.933141,6.3
3,CAMDEN,6118,5358,0.875776,11.5
4,CAPE MAY,998,875,0.876754,9.7
5,CUMBERLAND,1863,1513,0.812131,19.2
6,ESSEX,8614,7491,0.869631,15.8
7,GLOUCESTER,3808,3553,0.933036,6.2
8,HUDSON,5800,4946,0.852759,14.0
9,HUNTERDON,1791,1727,0.964266,3.8
10,MERCER,4669,4186,0.896552,11.7
11,MIDDLESEX,9470,8564,0.904329,8.6
12,MONMOUTH,8081,7592,0.939488,7.2
13,MORRIS,6385,6050,0.947533,4.8
14,OCEAN,5625,5112,0.908800,10.4
15,PASSAIC,5997,5373,0.895948,16.8
16,SALEM,851,743,0.873090,15.8
17,SOMERSET,4395,4144,0.942890,5.2
18,SUSSEX,1890,1792,0.948148,4.7
19,UNION,6901,6100,0.883930,9.0
20,WARREN,1406,1313,0.933855,7.2

In [ ]:
#Setup Axis
county = df_county_grad_pov["County Name"]
grad_rate = df_county_grad_pov["Graduation Rate"]
x_axis = np.arange(len(grad_rate))